<div id="main-content">
  <div class="home h20">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">
              Admin<span class="font-light">LTE</span> Bootstrap Admin Dashboard
              Template
            </h1>

            <p class="lead text-center padding-top">
              Best open source admin dashboard &amp; control panel theme. Built
              on top of Bootstrap, AdminLTE provides a range of responsive,
              reusable, and commonly used components.
            </p>
          </div>
          <!-- /.col -->

          <div class="clearfix"></div>

          <div class="col-xs-10 col-xs-offset-1 relative">
            <div class="text-center" style="margin-bottom: 20px;">
              <a [routerLink]="['']" class="btn is-outline mr-1">DOWNLOAD</a>
              <a href="/preview" class="btn is-outline no-border mr-1"
                >LIVE PREVIEW</a
              >
              <a
                href="https://github.com/ColorlibHQ/AdminLTE"
                class="btn is-outline no-border btn-black"
              >
                <i class="fa fa-github"></i>
              </a>
            </div>

            <img
              class="img-responsive img-rounded-top"
              src="img/AdminLTE2.1.png"
              alt="AdminLTE Presentation"
            />

            <div class="dl-count">
              <b> <i class="fa fa-cloud-download"></i> 3,211,684 </b>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- .container -->
    </div>
    <!-- /.home-inner -->
  </div>
  <!-- /.home -->

  <div class="more bg-gray">
    <div class="container">
      <h2 class="text-center">Premium Admin Dashboard Templates</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a
              href="https://dashboardpack.com/theme-details/kero-jquery-html-dashboard-pro/?utm_source=adminlte&amp;utm_medium=frontpage"
              class="ad-click-event"
            >
              <img
                src="/uploads/images/frontpage/kero-html-pro-screenshot.jpg"
                alt="Kero HTML Admin Dashboard Theme"
              />
            </a>

            <div class="caption">
              <h3>Kero jQuery/HTML Dashboard ─ $49</h3>
              <p><b class="badge bg-danger">New!</b></p>
              <p>
                <strong>Bootstrap 4</strong> Premium admin dashboard with a
                fresh, new design and outsanding funtionality.
              </p>

              <p>
                <a
                  href="https://dashboardpack.com/live-demo-preview/?livedemo=2386&amp;utm_source=adminlte&amp;utm_medium=frontpage"
                  class="btn btn-primary ad-click-event"
                  role="button"
                  >Preview</a
                >
                <a
                  href="https://dashboardpack.com/theme-details/kero-jquery-html-dashboard-pro/?utm_source=adminlte&amp;utm_medium=frontpage"
                  class="btn btn-success ad-click-event"
                  role="button"
                  >Buy now</a
                >
              </p>
              <p>
                <i class="fa fa-shopping-cart margin-r5"></i> 1,100+ purchases
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a
              href="https://dashboardpack.com/theme-details/architectui-dashboard-html-pro/?utm_source=adminlte&amp;utm_medium=frontpage"
              class="ad-click-event"
            >
              <img
                src="/uploads/images/frontpage/architectui-html-screenshot.jpg"
                alt="ArchitectUI HTML admin dashboard"
              />
            </a>

            <div class="caption">
              <h3>
                ArchitectUI Dashboard HTML ─ $49
                <span class="badge bg-danger pull-right">Hot!</span>
              </h3>

              <p>
                ArchitectUI is a Bootstrap 4 based template for admin dashboards
                and control admin panels.
              </p>

              <p>ArchitectUI is based on a beautiful modular design.</p>

              <p>
                <a
                  href="https://dashboardpack.com/live-demo-preview/?livedemo=290&amp;utm_source=adminlte&amp;utm_medium=frontpage"
                  class="btn btn-primary ad-click-event"
                  role="button"
                  >Preview</a
                >
                <a
                  href="https://dashboardpack.com/theme-details/architectui-dashboard-html-pro/?utm_source=adminlte&amp;utm_medium=frontpage"
                  class="btn btn-success ad-click-event"
                  role="button"
                  >Buy now</a
                >
              </p>
              <p>
                <i class="fa fa-shopping-cart margin-r5"></i> 920+ purchases
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a
              href="https://dashboardpack.com/theme-details/architectui-dashboard-vue-pro/?utm_source=adminlte&amp;utm_medium=frontpage"
              class="ad-click-event"
            >
              <img
                src="/uploads/images/frontpage/architectui-vue-pro-screenshot.jpg"
                alt="ArchitectUI Vue.js Admin Template"
              />
            </a>

            <div class="caption">
              <h3>ArchitectUI Vue.js Admin Dashboard ─ $49</h3>

              <p>Admin and a front end template!</p>

              <p>
                Comes with many customizable UI components and many custom
                designed example pages for your upcoming admin panel
              </p>

              <p>
                <a
                  href="https://dashboardpack.com/live-demo-preview/?livedemo=1086&amp;utm_source=adminlte&amp;utm_medium=frontpage"
                  class="btn btn-primary ad-click-event"
                  role="button"
                  >Preview</a
                >
                <a
                  href="https://dashboardpack.com/theme-details/architectui-dashboard-vue-pro/?utm_source=adminlte&amp;utm_medium=frontpage"
                  class="btn btn-success ad-click-event"
                  role="button"
                  >Buy now</a
                >
              </p>
              <p>
                <i class="fa fa-shopping-cart margin-r5"></i> 500+ purchases
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.more -->

  <div class="features-menu" style="display: block;">
    <div class="container">
      <h2 class="text-center" style="margin-bottom: 40px;">
        <b>Admin</b>LTE Features
      </h2>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-css3"></i>
            <h4>HTML5 &amp; CSS3</h4>

            <p>
              Verified HTML5 and CSS3 syntax by W3C services.
            </p>
          </div>
        </div>
        <!-- /.item -->

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-mobile"></i>
            <h4>Responsive Design</h4>

            <p>
              Mobile first design. Fits many resolutions, from large desktops to
              small mobile devices.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="clearfix visible-sm"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-rocket"></i>
            <h4>1000+ Icons</h4>

            <p>
              Featuring Font Awesome, Ion Icons, and Glyphicons.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="clearfix visible-md visible-lg"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-paint-brush"></i>
            <h4>6 Skins</h4>

            <p>
              Choose a skin that matches your branding or edit the LESS
              variables to create your own.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="clearfix visible-sm"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-print"></i>
            <h4>Enhanced For Printing</h4>

            <p>
              Support for printing any page. The invoice page makes a perfect
              example.
            </p>
          </div>
        </div>
        <!-- /.item -->

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-bolt"></i>
            <h4>Lightweight</h4>

            <p>
              Although AdminLTE is full of features, it was designed to be fast
              and lightweight.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="clearfix visible-sm visible-md visible-lg"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-globe"></i>
            <h4>Browser Compatibility</h4>

            <p>
              Support for most major browsers including Safari, IE9+, Chrome,
              FF, and Opera.
            </p>
          </div>
        </div>
        <!-- /.item -->

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-th"></i>
            <h4>Many Plugins</h4>

            <p>
              Over 18 plugins and an aditional 3 custom made plugins just for
              AdminLTE.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="clearfix visible-sm"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature-item animated fadeInUp delay-3">
            <i class="fa fa-users"></i>
            <h4>Active Community</h4>

            <p>
              Have a suggestion or an issue? Visit our
              <a href="https://github.com/almasaeed2010/AdminLTE/issues"
                >Github</a
              >
              repository to get help.
            </p>
          </div>
        </div>
        <!-- /.item -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.features-menu-->

  <div class="section bg-gray">
    <div class="articles-list" id="articles-list">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center" style="margin-bottom: 40px;">
              Recent Articles
            </h2>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-4">
            <article class="articles-list-item">
              <div class="article-img">
                <a href="/blog/free-admin-panels">
                  <img
                    class="img-responsive"
                    src="/uploads/images/free-admin-panel-templates.jpg"
                    alt="20 Free Bootstrap Admin Panel Templates 2019"
                  />
                </a>
              </div>
              <div class="article-text">
                <h2 style="font-size: 22px;">
                  <a href="/blog/free-admin-panels"
                    >20 Free Bootstrap Admin Panel Templates 2019</a
                  >
                </h2>

                <p class="article-excerpt">
                  Stunning looking admin panel templates to make your dashboard
                  to stand out
                </p>
                <div class="article-date" style="margin: 0;">May 31, 2019</div>
              </div>
            </article>
          </div>
          <div class="col-sm-4">
            <article class="articles-list-item">
              <div class="article-img">
                <a href="/blog/bootstrap-admin-panels">
                  <img
                    class="img-responsive"
                    src="/uploads/images/bootstrap-admin-panels.jpg"
                    alt="20 Bootstrap Admin Panel Templates 2019"
                  />
                </a>
              </div>
              <div class="article-text">
                <h2 style="font-size: 22px;">
                  <a href="/blog/bootstrap-admin-panels"
                    >20 Bootstrap Admin Panel Templates 2019</a
                  >
                </h2>

                <p class="article-excerpt">
                  Here are the most popular Boostrap admin panel templates you
                  can find today
                </p>
                <div class="article-date" style="margin: 0;">Oct 21, 2019</div>
              </div>
            </article>
          </div>
          <div class="col-sm-4">
            <article class="articles-list-item">
              <div class="article-img">
                <a href="/blog/react-bootstrap-templates">
                  <img
                    class="img-responsive"
                    src="/uploads/images/react-ui-frameworks.png"
                    alt="20 React Bootstrap Templates 2019"
                  />
                </a>
              </div>
              <div class="article-text">
                <h2 style="font-size: 22px;">
                  <a href="/blog/react-bootstrap-templates"
                    >20 React Bootstrap Templates 2019</a
                  >
                </h2>

                <p class="article-excerpt">
                  Bootstrap is raking over the world and so is React. Therefore,
                  we decided to showcase these outstanding React Bootstrap
                  templates
                </p>
                <div class="article-date" style="margin: 0;">Oct 21, 2019</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h2 class="text-center" style="margin-bottom: 40px;">
        Issues &amp; Support
      </h2>

      <p class="lead text-center">
        For AdminLTE support, please visit our
        <a href="https://github.com/ColorlibHQ/AdminLTE/issues"
          >Github repository</a
        >
        and post your issue, suggestion, or contribution.
      </p>

      <p>
        We try our best to provide support to the users of AdminLTE. Thanks to
        many of our users, AdminLTE has a great community support. We will try
        to respond to your post as soon as possible. For a faster response,
        please include as much information about your issue as possible.
      </p>
    </div>
  </div>

  <div class="testimonials bg-gray">
    <div class="container">
      <h2 class="text-center">What Others Are Saying</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="testimonial-item">
            <div class="testimonial-img"></div>
            <p class="testimonial-content">
              @colorlib have done a great design AdminLTE. Loved it. Very much
              look forward to Bootstrap 4 version.
              <br /><br />
              ─ @iraycd
            </p>
          </div>
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4">
          <div class="testimonial-item">
            <div class="testimonial-img"></div>
            <p class="testimonial-content">
              @colorlib has some serious ui design skills! just checked out
              their work.
              <br /><br />
              ─ @Shalotelli
            </p>
          </div>
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4">
          <div class="testimonial-item">
            <div class="testimonial-img"></div>
            <p class="testimonial-content">
              @colorlib Great work on AdminLTE theme. The best free Bootstrap
              admin dashboard ever!
              <br /><br />
              ─ @walphert
            </p>
          </div>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.testimonials -->

  <div class="testimonials" id="subscribe">
    <div id="block-overlay" class="overlay-b">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="container">
      <h2 class="text-center">Subscribe</h2>
      <p class="lead text-center">
        Subscribe now to get notified about new versions of AdminLTE and other
        cool projects that we are working on.
      </p>

      <div class="alert response" style="display: none;">
        <h4 class="response-title"></h4>

        <div class="response-body"></div>
      </div>
      <!--form action="{--{ url('subscribe') }}" method="post" id="subscribe-form"-->
      <form
        method="POST"
        action="https://adminlte.io/subscribe"
        accept-charset="UTF-8"
        id="subscribe-form"
      >
        <input
          name="_token"
          type="hidden"
          value="QPyJupPYyM6HgdUxpT5WSwjrf1Yx1fVBUsFRJ7iP"
        />
        <small class="text-info">* indicates required fields</small>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group with-icon">
                  <i class="fa fa-android"></i>
                  <input
                    type="text"
                    name="first_name"
                    placeholder="First name *"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group with-icon">
                  <i class="fa fa-android"></i>
                  <input
                    type="text"
                    name="last_name"
                    placeholder="Last name"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group with-icon">
              <i class="fa fa-envelope"></i>
              <input
                type="email"
                name="email"
                placeholder="Email *"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group cs2">
              <button
                type="submit"
                name="btn"
                class="btn btn-primary btn-block"
                id="subscribe-btn"
              >
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="author bg-gray">
    <div class="container">
      <h2 class="text-center">About The Author</h2>

      <div class="image">
        <img
          class="img-responsive img-circle"
          src="https://adminlte.io/img/colorlib-logo.png"
          alt="Author Picture"
        />
      </div>
      <div class="item">
        <h3>Colorlib</h3>

        <p class="lead">
          Colorlib is the largest provider of free Bootstrap templates with more
          than 700 availabe and many more relased every day. They started with
          WordPress and slowly moved to other types of templates and themes such
          as admin templates, Shopify themes, Bootstrap templates, React,
          Angular and even Vue templates. Colorlib was launched in 2013 by
          Aigars Silkalns and since then have developed many open source project
          that have been used by millions of developers and users worldwide.
        </p>
        <p>
          <a href="https://colorlib.com/wp/cat/bootstrap/">Learn more</a>
        </p>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!--/.author-->
</div>
