<div class="idebar-mini sidebar-closed sidebar-collapse">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Demo</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="../../index.html">Demo</a> /demo user
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h4></h4>
        </div>
      </div>
      <!-- ./row -->
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="custom-tabs-one-home-tab"
                    data-toggle="pill"
                    href="#custom-tabs-one-home"
                    role="tab"
                    aria-controls="custom-tabs-one-home"
                    aria-selected="true"
                    >Creation program</a
                  >
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-one-tabContent">
                <div class="row">
                  <div class="col-md-0"></div>
                  <div class="col-md-10">
                    <div class="content-wrapper" style="min-height: 1416.81px;">
                      <!-- Main content -->
                      <section class="content">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="card card-secondary">
                              <!-- Form activities -->
                              <div class="card-body">
                                <div
                                  *ngIf="status == 'failed'"
                                  class="alert alert-danger"
                                >
                                  <strong>Failed!</strong> The new activity
                                  cannot be created.
                                </div>
                                <div
                                  *ngIf="status == 'success'"
                                  class="alert alert-success"
                                >
                                  <strong>Success!</strong> the activity has
                                  been created correctly.
                                </div>

                                <form
                                  #activitiesForm="ngForm"
                                  (ngSubmit)="onSubmit(activitiesForm)"
                                >
                                  <div class="card-header">
                                    <label for="inputTitle"
                                      >Name training Program</label
                                    >
                                    <input
                                      type="text"
                                      id="inputTitle"
                                      name="title"
                                      #title="ngModel"
                                      [(ngModel)]="activities.title"
                                      class="form-control"
                                      required
                                    />
                                    <span
                                      style="color: red;"
                                      *ngIf="title.touched && !title.valid"
                                    >
                                      The title is mandatory.
                                    </span>
                                  </div>
                                  <div class="form-group">
                                    <label for="inputDescription"
                                      >Program description</label
                                    >
                                    
                                    <textarea
                                      id="inputDescription"
                                      name="description"
                                      #description="ngModel"
                                      [(ngModel)]="activities.description"
                                      class="form-control"
                                      rows="12"
                                      required
                                    ></textarea>

                                    <span
                                      style="color: red;"
                                      *ngIf="
                                        description.touched &&
                                        !description.valid
                                      "
                                    >
                                      The description is mandatory.
                                    </span>
                                  </div>

                                  <app-results></app-results>

                                  <form>
                                    <div class="form-group">
                                      <label for="exampleFormControlFile1"
                                        >Add program image</label
                                      >
                                      <input
                                        type="file"
                                        class="form-control-file"
                                        id="exampleFormControlFile1"
                                        (change)="fileChangeEvent($event)"
                                      />
                                    </div>
                                  </form>

                                  <div class="form-group">
                                    <label for="inputName"
                                      >Number activities</label
                                    >
                                    <input
                                      type="text"
                                      id="inputnumActivities"
                                      name="numActivities"
                                      #numActivities="ngModel"
                                      [(ngModel)]="activities.numActivities"
                                      class="form-control"
                                      required
                                    />
                                    <span
                                      style="color: red;"
                                      *ngIf="
                                        numActivities.touched &&
                                        !numActivities.valid
                                      "
                                    >
                                      Is necessary number activities.
                                    </span>
                                  </div>

                                  <div class="form-group">
                                    <label for="inputName"> Tutor</label>
                                    <input
                                      type="text"
                                      id="inputtutor"
                                      name="tutor"
                                      #tutor="ngModel"
                                      [(ngModel)]="activities.tutor"
                                      class="form-control"
                                      required
                                    />
                                    <span
                                      style="color: red;"
                                      *ngIf="tutor.touched && !tutor.valid"
                                    >
                                      Required name tutor.
                                    </span>
                                  </div>
                                  <div class="form-group">
                                    <label for="inputName">Company</label>
                                    <input
                                      type="text"
                                      id="inputCompany"
                                      name="company"
                                      #name="ngModel"
                                      [(ngModel)]="activities.company"
                                      class="form-control"
                                    />
                                  </div>
                                  <br />
                                  <br />
                                  <div class="row">
                                    <div class="col-12">
                                      <a href="#" class="btn btn-secondary"
                                        >Cancel</a
                                      >
                                      <input
                                        type="submit"
                                        value="Create new Porject"
                                        class="btn btn-success float-right"
                                        [disabled]="!activitiesForm.form.valid"
                                      />
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <!-- /.card-body -->
                              <!-- /Form activities -->
                            </div>
                            <!-- /.card -->
                          </div>
                        </div>
                      </section>
                      <!-- /.content -->
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>

