/* You can add global styles to this file, and also import other style files */
.content-wrapper .app-content.content {
  padding: 0 0.5rem;
}

a + a {
  margin-left: 3px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bg-img1 {
  /* The image used */
  background-image: url("../src/assets/dist/img/LandingMitadv2.png");

  /* Control the height of the image */
  min-height: 880px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-img2 {
  /* The image used */
  background-image: url("../src/assets/dist/img/WhiteFuntions.jpg");

  /* Control the height of the image */
  min-height: 920px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-img3 {
  /* The image used */
  background-image: url("../src/assets/dist/img/programabaue.jpg");

  /* Control the height of the image */
  min-height: 920px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-img4 {
  /* The image used */
  background-image: url("../src/assets/dist/img/Backgroundprofile.png");

  /* Control the height of the image */
  min-height: 480px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 5px solid #f1f1f1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 40px;
  text-align: center;
}
.lead1 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.text-block {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(96,96,96);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: 8px solid #f1f1f1;
 
}

.img1{
  height: 450px;
  width: 100%;
  overflow: hidden;
  
}

/* Three columns side by side */
.columnp {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.pointer {
  cursor: pointer;
}

.bg-img5 {
  /* The image used */
  background-image: url("../src/assets/dist/img/164924335-white-wallpapers.png");

  /* Control the height of the image */
  min-height: 1150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-block1 {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(96,96,96); */
  border-radius: 15px;
  color: rgb(6, 37, 37);
  border: 8px solid #6697aa;
 
}

.text-block3 {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(96,96,96); */
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: 8px solid #f1f1f1;
 
}
.bg-img6 {
  /* The image used */
  background-image: url("../src/assets/dist/img/EQIAOVnXsAI9SKZ.jpg");

  /* Control the height of the image */
  min-height: 980px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
